/*
Theme Name: Boomerang Bootstrap Template
Theme URI: http://preview.webpixels.ro/boomerang/
Description: Boomerang Bootstrap Template for corporate, digital agency, photostudio, creative, frelancers or business. Based on a unique, clean & minimal design and packed with a tons of cool features.
Author: Alexis Enache
Author URI: http://www.webpixels.ro
Version: 1.2  
License URI: http://wrapbootstrap.com        
*/     
	   
/* FONTS */
@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic);
@import "http://fonts.googleapis.com/css?family=Roboto:400,300,500,500italic,700,900,400italic,700italic";
 
/* IMPORTS */ 
@import url(../assets/bootstrap/css/bootstrap.min.css);     
@import url(../assets/fancybox/jquery.fancybox.css?v=2.1.5);
@import url(../font-awesome/css/font-awesome.css);
@import url(../assets/animate/animate.css);
@import url(../assets/easy-pie-chart/easypiechart.css);
@import url(../assets/timeline/timeline.css);

/* THEMES AND SHORTCODES */
@import "themes.less"; 
@import "shortcodes.less"; 
 
/* GLOBAL */  
iframe{border:0; margin-top:0 !important;}
p, ul{}
h1.font-lg{font-size:100px; font-weight:600;}

/* MARGINS & PADDINGS & OTHER */
.no-padding{padding:0 !important;}
.no-margin{margin:0 !important;}

.p-15{padding:15px !important;}
.p-50{padding:50px 0 !important;}

.pb-10{padding-bottom:10px;}
.pb-20{padding-bottom:20px;}
.pt-10{padding-top:10px;}
.pt-20{padding-top:20px;}
.pl-20{padding-left:20px;} 

.mt-20{margin-top:20px;}
.mb-20{margin-bottom:20px;}

.padding-y-10{padding:10px 0;}
.padding-x-4{padding:0 4px;} 
.padding-x-8{padding:0 8px;}
.padding-x-16{padding:0 16px;}
.padding-x-20{padding:0 20px;}
.padding-x-32{padding:0 32x;}
.padding-y-20{padding:20px 0 !important;}

.margin-b-10{margin-bottom:10px;}
.margin-b-20{margin-bottom:20px;}
.margin-t-15{margin-top:15px;}
.margin-t-20{margin-top:20px;}
.margin-y-10{margin:10px 0;} 
.margin-y-20{margin:20px 0;}
.margin-x-20{margin:0 20px;}

.strong{font-weight:bold !important;}
.img-center{display: block;margin-left: auto;margin-right: auto}
      
/* BANNERS */
.bg-banner-1{padding:54px 0 !important; background:url(../images/prv/banner-img-4.jpg) fixed no-repeat !important; color:#fff;}
.bg-banner-2{padding:54px 0 !important; background:url(../images/prv/banner-img-1.jpg) no-repeat fixed !important; color:#fff;}

/* MASKS */
.mask-dark{display:none; position:relative; top:0; left:0; width:100%; height:100%; background:url(../images/background/slash_it.png); opacity:0.4;}

/* IMAGES */ 
.img-thumbnail{border-radius:0;}

/* BLOCKQUOTES*/
.blockquote-1{margin-top:20px;}
 
/* HEADER */
header{padding:0;}
header .navbar-brand{padding:0 15px; margin-top:14px; border:1px solid transparent; border-radius:3px;}
header .navbar-brand:hover{}
header .navbar-brand img{height:46px;}

header .navbar-fixed{width:100%; left:0;}
header .navbar-fixed .navbar{width:100%;}
 
/* TOP HEADER */
.top-header{border-bottom:1px solid #eee; background:#fff;} 
.top-header .aux-text{padding:10px 0; color:#999; font-size:11px;}
.top-header .top-header-menu{float:right;}
.top-header .top-header-menu  > ul.menu{list-style:none; margin:0; padding:0;}
.top-header .top-header-menu  > ul.menu  > li{position:relative; float:left; display:inline-block; border-right:1px solid #eee;}
.top-header .top-header-menu  > ul.menu  > li:last-child{border:0;}
.top-header .top-header-menu  > ul.menu  > li > a{display:block; padding:10px 15px; color:#333;}
.top-header .top-header-menu  > ul.menu  > li.dropdown > a:after{content:"\f107"; margin-left:6px; font-family:"FontAwesome"; position:relative; float:right;}
.top-header .top-header-menu ul.menu  > li > a > i{margin-right:6px;}
.top-header .top-header-menu ul.menu  > li ul.sub-menu{display:none; min-width:160px; position:absolute; right:-1px; z-index:1500; margin:0; padding:0;list-style:none; background:#fff; border:1px solid #eee; opacity: 0; -moz-opacity: 0; filter: alpha(opacity=0);

-webkit-box-shadow: 0 6px 12px rgba(0,0,0,0.175);
-moz-box-shadow: 0 6px 12px rgba(0,0,0,0.175);
box-shadow: 0 6px 12px rgba(0,0,0,0.175);

-webkit-transition: all 0.2s ease-in-out;
-moz-transition: all 0.2s ease-in-out;
-o-transition: all 0.2s ease-in-out;
transition: all 0.2s ease-in-out;}
.top-header .top-header-menu ul.menu  > li:hover ul.sub-menu{opacity:1; display:block;}

.top-header .top-header-menu ul.menu  > li ul.sub-menu > li{border-bottom:1px solid #eee;}
.top-header .top-header-menu ul.menu  > li ul.sub-menu > li:last-child{border:0;}
.top-header .top-header-menu ul.menu  > li ul.sub-menu > li > a{display:block; padding:6px 15px; color:#33;}
.top-header .top-header-menu ul.menu  > li ul.sub-menu > li > .language-active{display:block; padding:6px 15px; background:#f8f8f8; cursor:default;}
.top-header .top-header-menu ul.menu  > li.dropdown:hover .sub-menu{display:block;}

.top-header.top-header-dark{border-bottom:1px solid #222; background:#020202;}
.top-header.top-header-dark .aux-text{color:#fff;}
.top-header.top-header-dark .top-header-menu  > ul.menu  > li{border-color:#222;}
.top-header.top-header-dark  .top-header-menu  > ul.menu  > li > a{color:#fff;}

/* STICKY WRAPPER */ 
.sticky-wrapper{}

/* NAVBAR FORM */
.dropdown-form{min-width:300px; z-index:500;} 
.dropdown-cart{min-width:400px; padding:15px;}
.dropdown-cart .cart-items{display:block; margin-bottom:15px; font-size:14px; font-wight:500;}
.dropdown-menu h4{font-size:14px; color:#4c4c4c;}
.dropdown-profile{padding:15px;}
.dropdown-profile img{width:60px;}

/* WRAPPER */
.aside-menu-in .wrapper{left:-280px;}
.wrapper{
	position:relative;
	left:0;
	-webkit-transition: all 300ms cubic-bezier(0.250, 0.460, 0.450, 0.940); 
   -moz-transition: all 300ms cubic-bezier(0.250, 0.460, 0.450, 0.940); 
     -o-transition: all 300ms cubic-bezier(0.250, 0.460, 0.450, 0.940); 
        transition: all 300ms cubic-bezier(0.250, 0.460, 0.450, 0.940); /* easeOutQuad */

-webkit-transition-timing-function: cubic-bezier(0.250, 0.460, 0.450, 0.940); 
   -moz-transition-timing-function: cubic-bezier(0.250, 0.460, 0.450, 0.940); 
     -o-transition-timing-function: cubic-bezier(0.250, 0.460, 0.450, 0.940); 
        transition-timing-function: cubic-bezier(0.250, 0.460, 0.450, 0.940); /* easeOutQuad */
}

/* ASIDE MENU */ 
.aside-menu{width:280px; height:100%; overflow-y:scroll; position:fixed; right:0; top:0; background:#222222; border-left:1px solid #333; display:none;}
.aside-menu::-webkit-scrollbar{display:none !importat; width:0 !important;}
.aside-menu .form-search{margin:0; padding:0; border-bottom:1px solid #333;}
.aside-menu .form-search .form-input{padding:0;}
.aside-menu .form-search .form-control{display:block; height:34px; padding:21px 15px; color:#fff; background-color:transparent;
border:0; border-radius:0; -webkit-box-shadow:none; box-shadow:none; -webkit-transition:none;}
.aside-menu .form-search .btn-close{background:transparent; color:#fff;}
.aside-menu .form-search .btn-close i{font-weight:300 !important; font-size:16px;}
.aside-menu .social-media{padding:15px; padding-bottom:0;}
.aside-menu .contact-info{padding:15px; color:#fff;}
.aside-menu .contact-info h5{font-size:12px;}

.side-section-title{position:relative; overflow:hidden; margin:0; margin-top:15px; padding:8px 15px; font-size:11px; text-transform:uppercase; color:#616161;}
.side-section-title:after {content:""; height:1px; background:#333; width:80px; position:absolute; top:26px; left:15px;} 
     
/* STYLE SWITCHER */ 
.style-switcher-slidebar{width:310px; height:420px; position:fixed; left:-260px; top:130px; z-index:10999; -webkit-transition: all 0.5s ease;
-moz-transition:all 0.5s ease; -o-transition:all 0.5s ease; -ms-transition:all 1s ease; transition:all 0.5s ease;}
.style-switcher-slidebar.opened{left:0;} 
.style-switcher-slidebar .switch-panel{float:left; width:255px; height:370px; background:#fff; color:#333333; box-shadow:1px 1px 3px rgba(0, 0, 0, 0.3);} 
a.open-panel{text-align:center; line-height:50px; font-size:30px; color:#fff !important; background-color:#9A9289; display:block; height:50px; width:50px; float:right; margin:0; z-index:1000; position:relative; -webkit-transition:none; -moz-transition:none; -o-transition:none;}
a.open-panel:hover{color:#fff;}
.style-switcher-slidebar label{margin-bottom:0;}
.style-switcher-slidebar h3{height:50px; line-height:50px; margin:0 0 10px 0; padding:0 10px; background:#9A9289; font-size:16px; color:#fff;}
.style-switcher-slidebar .panel-section{padding:0 15px;}

.color-picker{display:block;}
.color-picker a{width:30px; height:30px; display:inline-block; margin-right:5px; margin-bottom:8px; text-indent:-9999px;}
.color-picker a:last-child{margin-right:0;}
.color-picker a.color-red{background:#9A9289;}     
.color-picker a.color-violet{background:#563d7c;}
.color-picker a.color-blue{background:#59b2e5;}
.color-picker a.color-green{background:#8ec449;}
.color-picker a.color-yellow{background:#f1c40f;}
.color-picker a.color-orange{background:#d35400;}

/* SEARCH */
.search-wr{width:100%; height:110px; background:#FFF; position:fixed; top:0; z-index:2200; display:none; -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1); -moz-box-shadow: 0 1px 10px rgba(0,0,0,.1); box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);}
.search-wr .close{display:block; width:22px; height:22px; position:relative; float:right; top:10px; right:10px;}
.search-wr .close i{font-size:20px; color:#555;}
.search-wr .search-sign i{font-size:60px; line-height:110px; color:#DDD;}
.global-search-input{padding:40px 0 0 0; font-size:20px; position:relative; width:740px; background:#fff; z-index: 10; border:none; outline:none; 
color:#DDD;}
.global-search-input:focus{color:#333;}

/* CAROUSELS */
.carousel-1{overflow:hidden;}
.carousel-1 .carousel-inner{height:440px;}
.carousel-1 .carousel-control{color:#f8f8f8;}
.carousel-1 .carousel-control.left{left:-40px;}
.carousel-1 .carousel-control.right{right:-40px;}
.carousel-1 .carousel-control:hover{color:#fff;}
.carousel-1 .carousel-control i{position:absolute; top:50%; margin-top:-18px; font-size:36px; font-weight:600;}
.carousel-1 .item{height:440px;}
.carousel-1 .item{background-repeat:no-repeat; background-size:cover; background-position:0% 0%;}
.carousel-1 .item-dark{color:#FFF;}
.carousel-1 .item-light{color:#FFF}
.carousel-1 p{font-size:16px;}
.carousel-1 .object{position:absolute; top:38px; right:50%; margin-left:15px; width:568px; height:320px; overflow:hidden;}
.carousel-1 .object.fluid{width:100%; left:0; margin:0;}
.carousel-1 .object iframe{width:100% !important; }
.carousel-1 .object img{}
.carousel-1 .description{position:absolute; top:55px; left:50%; margin-left:50px; width:514px; height:290px;}
.carousel-1 .description .title{font-size:32px; margin:0 0 15px 0; padding:8px 20px; line-height:38px; background:#FFF; color:#616161;}
.carousel-1 .description .subtitle{font-size:24px; margin:20px 0; padding:0; display:block;}
.carousel-1 .description p{font-size:16px; color:#FFF; margin:0;}
.carousel-1 .description p.text-box{}

.carousel-1 .description.fluid-center{width:100%; top:50px; left:0; margin:0;}
.carousel-1 .description.fluid-center .title{margin-bottom:5px; display:block; text-align:center; background:none; color:#FFF; font-weight:500; text-shadow: 1px 1px 3px rgba(150, 150, 150, 0.5);}
.carousel-1 .description.fluid-center .subtitle{font-size:20px; margin:0; display:block; text-align:center;}
.carousel-1 .description.fluid-center .features{display:block; margin-top:40px; text-align:center;}
.carousel-1 .description.fluid-center .features i{width:110px; height:110px; background:#FFF; text-align:center; line-height:110px; font-size:54px; color:#697e93; font-weight:700;border-radius:96px; margin-right:20px;}

.carousel-4{}
.carousel-4 .carousel-inner{}
.carousel-4 .carousel-inner{overflow:hidden;}
.carousel-4 .carousel-control i{position:absolute; top:50%; margin-top:-18px; font-size:36px; font-weight:600;}

/* FRACTION SLIDER CUSTOMS */
.slider-wrapper *{-webkit-box-sizing:content-box; -moz-box-sizing:content-box; box-sizing:content-box; font-family:"Roboto", sans-serif;}
.slider-wrapper{position:relative; overflow:hidden; width:100%; max-height:440px; margin:0 auto; background:#f2f2f2; z-index:800;}
.slider{position:relative; width:100%; margin:0 auto; background:#f2f2f2;}
.slider-wrapper p{margin: 0;
padding: 0;
border: 0;
outline: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;}
.slider-wrapper p{position:absolute; top:-200px; z-index:8000; padding:1% 2%; font-size:24px; line-height:100%; white-space:nowrap; text-transform:uppercase;}
.slider-wrapper .white{color:#FFF;}
.slider-wrapper .claim{line-height:100%}	
.slider-wrapper .teaser{font-size:14px; line-height:100%}
.slider-wrapper .small{width:250px; text-align:center;}
.slider-wrapper .video{width:540px; height:360px; font-size:13px; line-height:18px; white-space:normal; text-align:left; text-transform:none;}
.slider-wrapper .video iframe{width:100%;}
.slider-wrapper .text{width:460px; font-size:13px; padding:0 2%; line-height:18px; white-space:normal; text-align:left; text-transform:none;}
.slider-wrapper .text a{margin-top:20px;}

.slider-wrapper .slide-light p{color:#FFF;}
.slider-wrapper .slide-light p.claim{width:50%; white-space:normal; maring-bottom:20px;}
.slider-wrapper .slide-light p.teaser{font-weight:300;}      

/* SIMPLE SLIDER */
.simple-slider{height:500px; background:#f3f3f3;}

/* CALL TO ACTION BOX */  
.cta-wr{padding:16px 0;} 
.cta-wr h1{margin:10px 0 !important; font-size:20px; line-height:26px; font-weight:400;}

/* COLUMNS & SECTIONS */
section.slice{padding:30px 0;  background:#fff;}
section.slice.relative{position:relative;}
.subsection{margin-top:30px;}
.container.bordered{border:1px solid #ddd; padding-top:15px;} 

.w-box:hover .w-box-parent{
	-webkit-transform: translateY(-40px);
	-moz-transform: translateY(-0px);
	-ms-transform: translateY(-0px);
	-o-transform: translateY(-0px);
	-webkit-transition: -webkit-transform 0.4s;
	-moz-transition: -moz-transform 0.4s;
	-o-transition: -o-transform 0.4s;
	transition: transform 0.4s;
}
.w-box .w-box-parent .w-box-button.animated{position:absolute; bottom:10px; margin-bottom:-40px; -webkit-transition:all 0.3s linear; transition:all 0.3s linear; }

.w-box.w-box-inverse{background:none !important; border:0; -webkit-box-shadow:none; -moz-box-shadow:none; box-shadow:none;}
.w-box.w-box-inverse p{padding:0;}
.w-box.w-box-inverse h1{margin:10px 0 0 0; padding:10px 0; font-weight:500; font-size:20px;}
.w-box.w-box-inverse h2{margin:15px 0 0 0; padding:0; font-weight:500; font-size:16px; text-transform:none; border:0; text-align:center;}
.w-box.w-box-inverse h2 i{font-style:normal;}
.w-box.w-box-inverse ul.meta-list{maring:0; padding:0;}
.w-box.w-box-inverse .w-footer{padding:10px 0;}
.w-box.w-box-inverse .thmb-img{text-align:center;}

.w-box.dark p{color:#f1f1f1;}
.w-box.dark h2{color:#FFF; text-align:center; margin-bottom:7px;}
.w-box.dark .thmb-img{text-align:center; padding:15px 0;}
.w-box.dark .thmb-img i{font-size:64px; color:#FFF;}

.w-box.product{background:#FFF; padding-top:15px; margin-bottom:20px;}
.w-box.product .figure{padding:20px;}
.w-box.product p{text-align:center;}
.w-box.product h2{border-bottom:0; text-align:center;}
.w-box.product .thmb-img{text-align:center; padding:15px 0;}
.w-box.product .thmb-img i{font-size:64px; color:#616161;}
.w-box.product .price{padding:4px 0;}

.w-box.inverse{background:none; border:0;}
.w-box.inverse p{padding:4px 0;}
.w-box.inverse h2{padding:10px 0 0 0 !important; border-bottom:0;}
.w-box.inverse .thmb-img{padding:15px 0;} 
.w-box.inverse .thmb-img i{font-size:64px; color:#616161;}
.w-box.inverse .social-icons{border:0 ;}  

.w-section{background:#FFF;}
.w-section:before, .w-section:after {display:table; content:" ";}
.w-section:after{clear:both;}

.w-section.inverse{background:none !important; -moz-box-shadow:0 0 0; -webkit-box-shadow:0 0 0; box-shadow:0 0 0; border:0;}
.w-section.inner{margin:15px 0;}
.w-section iframe{width:100%;}

.w-section .feature{margin:15px 0 30px 0; text-align:center; cursor:default;}
.w-section .feature i{font-size:64px; color:#555; display:block; }
.w-section .feature h4{margin:10px 0;}

.w-section .aside-feature h4{margin:10px 0;}
.w-section .aside-feature p{}

.w-section .txt-feature{margin:15px 0 30px 0; cursor:default;}
.w-section .txt-feature h4{margin:0; padding:0; margin-bottom:10px; font-weight:500;}
.w-section .txt-fly-over{height:350px; overflow:hidden; position:absolute; top:-90px; z-index:1000; padding:20px;}
.w-section .txt-fly-over h1{padding:0; margin:0; margin-bottom:10px; font-size:54px; font-weight:600; color:#FFF;}
.w-section .txt-fly-over h2{padding:0; margin:0 0 20px 0; font-size:24px; font-weight:500;}

.w-section .inline-features{}
.w-section .inline-features i{display:block; margin-bottom:15px; height:64px; line-height:64px; text-align:center; font-size:40px; background:rgb(85, 85, 85); color:#fff; border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px;}
.w-section .inline-features i:hover{background:rgb(117, 185, 24);}

.w-section .contrast-box{padding:15px; margin-bottom:20px; border-radius:3px; border:1px solid #f3f3f3;}
.w-section .contrast-box i{font-size:24px; margin-right:8px; }
.w-section .contrast-box small{display:block; margin-top:12px; font-style:italic; text-align:right;}

/* WP EXAMPLE */
.wp-example{margin-bottom:45px;} 
.wp-example pre{border-radius:0; margin-top:20px;}

/* SIDEBAR NAV */
.nav-sidebar-fixed{position:fixed; width:260px;}

/* SHOP */
.shop .pagination{margin:0;}
.shop .product-gallery{}
.shop .product-short-info p{padding:6px 0; margin:0;}
.shop .primary-image{border:1px solid #f3f3f3; padding:10px;}
.shop .thumbnail-images{margin:10px 0 25px 0;}
.shop .thumbnail-images a{display:inline-block; width:100px; height:100px; padding:10px; overflow:hidden; margin-right:5px; border:1px solid #f3f3f3;}
.shop .thumbnail-images a:last-child{margin:0;}
.shop .thumbnail-images a img{width:100%;}

.table-cart{border:1px solid #ddd;}
.table-cart td{vertical-align:middle;}
.table-cart td:first-child{border-right:1px solid #ddd;}
.table-cart img{width:80px;}
.dropdown-cart .table-cart img{width:50px;}
.table-cart .cart-remove{display:block; text-align:center; color:#e80e1d;}
.table-totals td:nth-child(even){padding:5px 15px;}

.shop .invoice-header{}

/* ANIMATION ELEMENTS */
.animate-wr {
	animation-duration:0.5s;
    -webkit-animation-duration: 0.5s;
	-moz-animation-duration: 1s;
	-o-animation-duration: 1s;
    
}

/* HOVER ANIMATIONS 1 */
.animate-hover-slide .figure{position:relative; overflow:hidden;}
.animate-hover-slide .figure img{
	-webkit-transition: -webkit-transform 0.4s, opacity 0.1s 0.3s; 
	-moz-transition: -moz-transform 0.4s, opacity 0.1s 0.3s; 
	-o-transition: -o-transform 0.4s, opacity 0.1s 0.3s; 
	transition: transform 0.4s, opacity 0.1s 0.3s;
}
.animate-hover-slide .figure .figcaption{height:100%; padding:0; width:100%; position:absolute; left:0; top:auto; bottom:0; opacity:0;
	-webkit-transform: translateY(100%);
	-moz-transform: translateY(100%);
	-ms-transform: translateY(100%);
	-o-transform: translateY(100%);
	-webkit-transition: -webkit-transform 0.4s, opacity 0.1s 0.3s;
	-moz-transition: -moz-transform 0.4s, opacity 0.1s 0.3s;
	-o-transition: -o-transform 0.4s, opacity 0.1s 0.3s;
	transition: transform 0.4s, opacity 0.1s 0.3s;
}
.animate-hover-slide .figure:hover .figcaption{
	opacity:0.8;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	-ms-transform: translateY(0px);
	-o-transform: translateY(0px);
	-webkit-transition: -webkit-transform 0.4s, opacity 0.1s;
	-moz-transition: -moz-transform 0.4s, opacity 0.1s;
	-o-transition: -o-transform 0.4s, opacity 0.1s;
	transition: transform 0.4s, opacity 0.1s;
}
.animate-hover-slide .figure .figcaption{text-align:center;}
.animate-hover-slide .figure .figcaption-btn{width:100%; height:50%; position:absolute; top:0px; opacity:0; padding-left:20px; text-align:center;
	-webkit-transform: translateY(-100%);
	-moz-transform: translateY(-100%);
	-ms-transform: translateY(-100%);
	-o-transform: translateY(-100%);
	-webkit-transition: -webkit-transform 0.4s, opacity 0.1s 0.3s;
	-moz-transition: -moz-transform 0.4s, opacity 0.1s 0.3s;
	-o-transition: -o-transform 0.4s, opacity 0.1s 0.3s;
	transition: transform 0.4s, opacity 0.1s 0.3s;
}
.animate-hover-slide .figure:hover .figcaption-btn{
	opacity:1;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	-ms-transform: translateY(0px);
	-o-transform: translateY(0px);
	-webkit-transition: -webkit-transform 0.4s, opacity 0.1s;
	-moz-transition: -moz-transform 0.4s, opacity 0.1s;
	-o-transition: -o-transform 0.4s, opacity 0.1s;
	transition: transform 0.4s, opacity 0.1s;}

.animate-hover-slide .figure .figcaption-txt{width:100%; height:50%; position:absolute; bottom:0px; opacity:0; padding-left:20px; text-align:center;
	-webkit-transform: translateY(100%);   
	-moz-transform: translateY(100%);
	-ms-transform: translateY(100%);
	-o-transform: translateY(100%);
	-webkit-transition: -webkit-transform 0.4s, opacity 0.1s 0.3s;
	-moz-transition: -moz-transform 0.4s, opacity 0.1s 0.3s;
	-o-transition: -o-transform 0.4s, opacity 0.1s 0.3s;
	transition: transform 0.4s, opacity 0.1s 0.3s;
}
.animate-hover-slide .figure:hover .figcaption-txt{
	opacity:1;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	-ms-transform: translateY(0px);
	-o-transform: translateY(0px);
	-webkit-transition: -webkit-transform 0.4s, opacity 0.1s;
	-moz-transition: -moz-transform 0.4s, opacity 0.1s;
	-o-transition: -o-transform 0.4s, opacity 0.1s;
	transition: transform 0.4s, opacity 0.1s;
}
.animate-hover-slide .figure .figcaption-txt .title{padding:0; margin:30px 0 0 0; color:#fff; font-size:18px; text-transform:capitalize;}	
.animate-hover-slide .figure .figcaption-txt .subtitle{padding:0; margin:0; color:#fff; font-size:12px;}	
.animate-hover-slide .figure a{position:relative; top:94%; margin-top:-11px;}
.animate-hover-slide .figure .figcaption h3{padding-bottom:5px; margin-bottom:10px; font-size:14px; font-weight:600; border-bottom:1px solid #f2f2f2;}

/* HOVER ANIMATION 2 */
.animate-hover-slide-2 .figure{position:relative; overflow:hidden;}
.animate-hover-slide-2 .figure img{ position:relative; z-index:2;
	-webkit-transition: -webkit-transform 0.4s, opacity 0.1s 0.3s; 
	-moz-transition: -moz-transform 0.4s, opacity 0.1s 0.3s; 
	-o-transition: -o-transform 0.4s, opacity 0.1s 0.3s; 
	transition: transform 0.4s, opacity 0.1s 0.3s;
}
.animate-hover-slide-2 .figure:hover img{-webkit-transform:scale(0.4);-moz-transform:scale(0.4);-ms-transform:scale(0.4);transform:scale(0.4);}

.animate-hover-slide-2 .figure .figcaption{height:100%; z-index:1; position:absolute; top:0; bottom:auto; background:#f8f8f8; padding:0 15px; width:100%; opacity:1; -webkit-transform:scale(0.4); 
-moz-transform:scale(0.4); 
-ms-transform:scale(0.4);
transform:scale(0.4); 

-webkit-transition: -webkit-transform 0.4s, opacity 0.1s 0.3s; 
-moz-transition: -moz-transform 0.4s, opacity 0.1s 0.3s; 
-o-transition: -o-transform 0.4s, opacity 0.1s 0.3s; 
transition: transform 0.4s, opacity 0.1s 0.3s;}

.animate-hover-slide-2 .figure:hover .figcaption{-webkit-transform:scale(1); -moz-transform:scale(1); -ms-transform:scale(1); transform:scale(1); opacity:1;}

.animate-hover-slide-2 .figure .figcaption h2{text-align:center; margin-top:15px;}
.animate-hover-slide-2 .figure .figcaption .social-icons{width:100%; position:absolute; bottom:15px; text-align:center;}

/* HOVER ANIMATION 3 */
.animate-hover-slide-3 .figure{position:relative; overflow:hidden;}
.animate-hover-slide-3 .figure img{
	-webkit-transition: -webkit-transform 0.4s, opacity 0.1s 0.3s; 
	-moz-transition: -moz-transform 0.4s, opacity 0.1s 0.3s; 
	-o-transition: -o-transform 0.4s, opacity 0.1s 0.3s; 
	transition: transform 0.4s, opacity 0.1s 0.3s;
}

.animate-hover-slide-3 .figure .figcaption{height:32px; background:#f8f8f8; padding:0 15px; width:100%; position:absolute; left:0; top:auto; bottom:0; opacity:0; 
	-webkit-transform: translateY(100%);
	-moz-transform: translateY(100%);
	-ms-transform: translateY(100%);
	-o-transform: translateY(100%);
	-webkit-transition: -webkit-transform 0.4s, opacity 0.1s 0.3s;
	-moz-transition: -moz-transform 0.4s, opacity 0.1s 0.3s;
	-o-transition: -o-transform 0.4s, opacity 0.1s 0.3s;
	transition: transform 0.4s, opacity 0.1s 0.3s;
}
.animate-hover-slide-3 .figure:hover .figcaption{
	opacity:1;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	-ms-transform: translateY(0px);
	-o-transform: translateY(0px);
	-webkit-transition: -webkit-transform 0.4s, opacity 0.1s;
	-moz-transition: -moz-transform 0.4s, opacity 0.1s;
	-o-transition: -o-transform 0.4s, opacity 0.1s;
	transition: transform 0.4s, opacity 0.1s;
}

/* PRICING */
.pricing-plans{margin-bottom:15px;}
.pricing-plans:before, .pricing-plans:after,
.pricing-table:before, .pricing-table:after{display:table; content:" ";}
.pricing-plans:before, .pricing-table:before{clear:both;}

.pricing-plans .plan-header{padding-bottom:15px;}
.pricing-plans .plan-header .popular-tag{padding:5px 0; text-align:center; text-transform:uppercase;}
.pricing-plans .plan-header small{display:block; text-align:center; font-style:italic;}
.pricing-plans .plan-title{text-align:center; margin:0; font-size:28px; font-weight:500; color:#fff;}
.pricing-plans .price-tag{margin:0; height:70px; line-height:70px; font-size:58px; font-weight:500; text-align:center;}
.pricing-plans .price-tag span{font-size:28px; font-weight:500;}
.pricing-plans .price-tag span.price-type{font-size:20px; font-weight:500;}
.pricing-plans ul{margin:0; padding:0; list-style:none; }
.pricing-plans ul li{padding:10px 20px; border-bottom:1px solid #f1f1f1; font-size:13px}
.pricing-plans ul li:last-child{border-bottom:0;}
.pricing-plans ul li i{margin-right:8px;}
.pricing-plans .plan-info{margin:0; padding:15px; font-size:13px; text-align:center; font-style:italic;}
.pricing-plans .plan-select{padding:15px 0; border-top:1px solid #f1f1f1;}

.pricing-plans .plan-circle{height:263px; padding:0 25px; display:table-cell; vertical-align:middle; border-radius:200%;}
.pricing-plans .plan-circle .btn{margin-top:10px;}
.pricing-plans .plan-circle-2{}

.pricing-plans .w-box{margin-top:20px;}
.pricing-plans .w-box:hover, 
.pricing-table .w-box:hover{
-webkit-box-shadow: 0 -4px 14px rgba(0, 0, 0, 0.2);
   -moz-box-shadow: 0 -4px 14px rgba(0, 0, 0, 0.2);
		box-shadow: 0 -4px 14px rgba(0, 0, 0, 0.2);}

.pricing-plans .w-box-inverse:hover, .pricing-table .w-box-inverse:hover{
-webkit-box-shadow:none;
   -moz-box-shadow:none;
		box-shadow:none;}

.pricing-table .w-box{z-index:1; margin-top:20px; margin-bottom:0;
-webkit-box-shadow: none;
   -moz-box-shadow: 0;
		box-shadow: none;
}
.pricing-table .w-box.popular, .pricing-plans .w-box.popular{margin-top:0;
-webkit-box-shadow: 0 -4px 14px rgba(0, 0, 0, 0.2);
   -moz-box-shadow: 0 -4px 14px rgba(0, 0, 0, 0.2);
		box-shadow: 0 -4px 14px rgba(0, 0, 0, 0.2);}
.pricing-table .w-box.popular:hover, .pricing-plans .w-box.popular:hover{
-webkit-box-shadow: 0 -4px 14px rgba(0, 0, 0, 0.3);
   -moz-box-shadow: 0 -4px 14px rgba(0, 0, 0, 0.3);
		box-shadow: 0 -4px 14px rgba(0, 0, 0, 0.3);}
		
.pricing-table .price-tag{}
.pricing-table .w-box.popular .price-tag{}
.pricing-table .plan-select{margin-top:0; border:0; margin-bottom:15px; border-bottom:1px solid #f1f1f1;}
.pricing-table .plan-info{text-align:center; margin-bottom:15px;}

.pricing-table .table-comparision{background:#FFF; position:relative; top:-2px; z-index:1000; border-color:#f1f1f1; color:#777;}
.pricing-table .table-comparision th{border-color:#f1f1f1;}
.pricing-table .table-comparision td{text-align:center; border-color:#f1f1f1;}
.pricing-table .table-comparision tr td:first-child{text-align:left;}

/* VERTICAL INFO */
.vertical-info h4{margin:0; padding:0; font-size:16px;}
.vertical-info p.delimiter{margin:10px 0; padding-bottom:10px; border-bottom:1px solid #e0dede;}

/* SORT LIST */
#ulSorList{ margin-top:20px; }
#ulSorList:after{content:''; display:inline-block; width:100%;}
#ulSorList .mix{display:none; opacity:0;}
#ulSorList .mix .item{background:#f2f2f2;}
#ulSorList .gap{display:inline-block; width:200px;}

/* WORK */
.work{width:100%; overflow:hidden;}
.work .btn-group{margin-bottom:10px;}
.work .btn{margin-right:6px;} 
.work .btn-group .btn{margin-right:0;}
.work .mix{margin-top:20px;}

.work.work-no-space.g2 .mix{width:50%; display:inline-block; float:left; margin:0; padding:0;} 
.work.work-no-space.g3 .mix{width:33.3%; display:inline-block; float:left; margin:0; padding:0;} 
.work.work-no-space.g4 .mix{width:25%; display:inline-block; float:left; margin:0; padding:0;} 
.work.work-no-space.g5 .mix{width:20%; display:inline-block; float:left; margin:0; padding:0;} 
.work.work-no-space .mix .w-box{padding:0; margin:0;}

/* MAP CANVAS */
.map-canvas{height:300px; margin:0;}
.map-canvas .info-window-content{min-width:250px;}
.map-canvas .info-window-content h2{font-size:18px; font-weight:600; margin-bottom:8px;}
.map-canvas .info-window-content h3{font-size:14px; font-weight:500;}
.map-canvas .info-window-content p{margin-top:20px; text-align:center; font-size:12px; color:#999; text-shadow:none; }

/* COMMENTS & COMMENT FORM */
.comments-wr{padding:0 15px;}
.comments-wr .comment:before, .comments-wr .comment:after{display:table; content:" ";}
.comments-wr .comment:after{clear:both;}
.comments-wr .comment{border-bottom:1px solid #eee; padding:15px 0;}
.comments-wr .comment:last-child{border-bottom:0;}
.comments-wr .comment p{padding:0;}
.comments-wr .comment .comment{margin:12px 0 0 60px; padding-bottom:0; border-bottom:0; border-top:1px solid #eee;}
.comments-wr .comment img{width:48px; float:left;}
.comments-wr .comment p{margin-left:60px; color:#777;}
.comments-wr .comment .comment-author{display:block;}
.comments-wr .comment .comment-author a{font-weight:600;}
.comment-form{padding:15px 15px;}
.comment-form h2{margin-bottom:15px;}

/* WIDGETS */
.widget {margin-bottom:20px;}
.widget-highlight{padding:15px; background:#fcfcfc; border:1px solid #f3f3f3;}
	
	/* VIDEO CONTAINER */
	.video-container iframe{margin:0; border:0;}
	
	/* MEDIA - PHOTOS */
	.media-photos-list {padding-left:0; list-style:none; margin-bottom:0; overflow:hidden;}
	.media-photos-list > li {float:left; margin-right:6px; margin-bottom:6px;}
	.media-photos-list > li img {width:60px; height: 60px; -webkit-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out;}
	.media-photos-list > li img:hover {opacity: 0.65;filter: alpha(opacity=65);}

/* LISTS */
ul.list-1{padding:0; margin:0; list-style:none;}
ul.list-1 li{margin:15px 0;}
ul.list-1 time{float:left; display:inline-block; background:#e74c3c; color:#FFF; font-weight:600; padding:5px 8px; border-radius:2px;}
ul.list-1 .txt:before{content:""; position:absolute; margin-left:-10px; margin-top:6px; width:0; height:0; border-top:10px solid transparent;
 border-right:10px solid #f3f3f3; border-bottom:10px solid transparent;;}
ul.list-1 .txt{margin-left:62px; margin-top:20px; background:#f3f3f3;}
ul.list-1 .txt p{padding:8px 15px; margin:0;}

ul.list-2{-webkit-padding-start:20px; margin:15px 0;}
ul.list-2 li{padding-left:15px; list-style-type:none; background:url(../images/list-style-2.png) no-repeat 0 8px; color:#555;}
ul.list-2 li a{color:#555;}
ul.list-2 li a:hover{color:rgb(131, 174, 52); text-decoration:none;}

ul.list-3{margin:0; list-style:none;}
ul.list-3 li{height:58px; background:#f2f2f2; overflow:hidden; margin-bottom:13px;}
ul.list-3 li .list-order{width:58px; height:58px; position:relative; float:left; text-align:center; line-height:60px; background:#75b918; font-size:30px; font-weight:600; color:#FFF;}
ul.list-3 li .list-order:after{position:absolute; top:50%; right:0px; border:7px solid transparent; height:1px; width:0; border-right-color:#f2f2f2; margin-top:-7px; content:'';}
ul.list-3 li .list-content{float:left; height:58px; margin-left:8px;}
ul.list-3 li .list-content h5{font-size:15px; font-weight:600; margin:8px 0 4px 0;}
ul.list-3 li .list-content p{}

ul.popular {list-style:none; margin:0; padding:0;}
ul.popular li{clear:left; border-bottom:1px dotted #f1f1f1; padding:10px 0; display:block; width:100%;}
ul.popular li img{width:60px;}
ul.popular li p{margin-left:70px;}
ul.popular li i{color:#a1a1a1; display:block; font-style:normal; font-size:12px;}
ul.popular li a {font-weight:400; line-height:18px;}
ul.popular li a:hover {text-decoration:none; color:#464646;}
ul.popular li span {font-size: 12px;}

ul.featured {list-style:none; margin:0; padding:0;}
ul.featured li {clear:left; border-bottom:1px dotted #f1f1f1; padding:10px 0 0 0; display:block; width:100%;}
ul.featured li img{width:70px;}
ul.featured li p{margin-left:80px;}
ul.featured li i{color:#a1a1a1; display:block; font-style:normal; font-size:12px;}
ul.featured li a {font-weight:500;}
ul.featured li a:hover {text-decoration:none; color:#464646;}
ul.featured li span {font-size: 12px;}
ul.featured li .price{font-size:16px; font-weight:500; margin-top:5px;}
ul.featured li .price.discount{text-decoration:line-through; color:#e74c3c; font-size:13px; margin-right:8px;}

ul.recent{list-style:none; margin:0; padding:0;}
ul.recent li {border-bottom:1px dotted #e9e9e9;}
ul.recent li:last-child{border:0; padding-bottom:0;}
ul.recent li a{display:block; padding:10px 0;}
ul.recent li a:hover{border-color:#75b918;}
ul.recent li h6 {margin:0 0 10px 0;}
ul.recent li h6 a{color:#353535;font-size:14px;text-transform:none;text-decoration:none;font-weight:600;}
	
ul.meta-list{margin:0; padding:10px 15px 15px 15px; display:block; list-style:none;}
ul.meta-list li:first-child{padding:0; border-left:0;}
ul.meta-list li{display:inline-block; color:#a1a1a1;}
ul.meta-list li a{color:#7a92ac;}
ul.meta-list li a:hover{color:#e06d58; text-decoration:underline;}

ul.bullet {list-style:none; margin:0; padding:0;}
ul.bullet li{clear:left; padding:10px 0; display:block; width:100%;}
ul.bullet li > figure{margin:5px 0 0 0; padding:0; border-radius:100%; width:35px; height:35px; background:#DDD; padding:8px 0 0; text-align:center; font-size:17px; color:#fff; font-weight:bold; display:inline-block; float:left;}
ul.bullet li img{width:60px;}
ul.bullet li h3{font-size:16px; font-weight:600; margin-left:15px; display:inline-block; }
ul.bullet li p{margin:0 0 0 50px; padding:0;}
ul.bullet li span{margin-left:6px;}
ul.bullet li a {font-weight:500;}
ul.bullet li a:hover {text-decoration:none;color:#464646;}
ul.bullet li span {font-size: 12px;}

ul.list-carousel {list-style:none; margin:0; padding:0;}
ul.list-carousel li {padding:6px 0; display:block; width:100%; font-size:16px;}
ul.list-carousel li i{font-style:normal; margin-right:4px;}
ul.list-carousel li a {font-weight:500;}
ul.list-carousel li a:hover {text-decoration:none; color:#a1a1a1;}
ul.list-carousel li span {font-size: 14px;}

ul.social-icons{list-style:none; margin:0; padding:0; position: absolute; bottom: 0; left:0; width: 100%;}
ul.social-icons li{display:inline-block;}
ul.social-icons li a{display:block; height:32px; width:32px; text-align:center; line-height:32px;}
ul.social-icons li:hover a{color:#fff;}
ul.social-icons li.text{height:32px; padding-left:10px; line-height:32px;}
ul.social-icons li.facebook:hover{background:#43609c; color:#fff;}
ul.social-icons li.twitter:hover{background:#00aced; color:#fff;}
ul.social-icons li.linkedin:hover{background:#517fa4; color:#fff;}

/* TABLES */
.table>thead>tr>th, 
.table>tbody>tr>th, 
.table>tfoot>tr>th, 
.table>thead>tr>td, 
.table>tbody>tr>td, 
.table>tfoot>tr>td{vertical-align:middle;}

.table.table-no-border>thead>tr>th, 
.table.table-no-border>tbody>tr>th, 
.table.table-no-border>tfoot>tr>th, 
.table.table-no-border>thead>tr>td, 
.table.table-no-border>tbody>tr>td, 
.table.table-no-border>tfoot>tr>td {border-top:0; padding:0;}

/* BLOG */
.blog-list{}
ul.list-listings.blog-list li{border:0;}
ul.list-listings.blog-list .listing-header{clear:both; padding:8px 15px; font-weight:600; text-transform:uppercase;}
ul.list-listings.blog-list .listing-image{width:35%; height:180px; float:left; overflow:hidden;}
ul.list-listings.blog-list .listing-body{width:65%; height:auto; max-height:auto; padding:0 15px; float:left; background:#fff;}
ul.list-listings.blog-list .listing-body h3{margin:0; padding:0; font-size:18px; font-weight:500; margin-bottom:10px;}
ul.list-listings.blog-list .listing-body h4{font-size:14px; font-weight:normal; line-height:22px;}
ul.list-listings.blog-list .listing-actions{width:15%; height:180px; position:relative; padding-top:20px; float:left; text-align:center;}
ul.list-listings.blog-list .listing-actions .btn{position:absolute; bottom:20px; left:25px;}
ul.list-listings.blog-list .list-item-info{font-size:12px; font-style:italic;}


.blog-masonry .w-box, .blog-grid .w-box, .blog-list .w-box{margin-bottom:25px;}
.w-box.blog-post{border:0; padding:0;}
.blog-post h2{font-size:18px; line-height:24px; color:#3b3e43; border:0; padding:25px 0px 0px 0px !important;}
.blog-post p{padding:8px 0px !important; font-size:14px; color:#777;}
.blog-post blockquote{margin:8px 0px; }
.blog-post .meta-list{padding-left:0 !important;}
.blog-post img{width:100%;}

.side-info{display:block;}
.side-info .date{display:block; text-align:center; margin-top:5px;}
.side-info .date strong{display:block; margin-bottom:5px; font-size:33px; font-weight:normal;}

/* START RATING */
.star-rating{display:block;}
.star-rating i{display:inline-block !important; color:#f7e90c !important;}

/* REVIEW RATING */
.review-rating{font-size:12px;}
.review-rating i{}

/* SKILLS DIAGRAM */
.skills {clear:both; width:100%;}
.skills ul,
.skills li {display:inline-block; list-style:none; margin:0 6px 0 0; padding:0;}
.skills li {padding:0 15px; height:35px; line-height:35px; color:#fff; margin-bottom:1px; font-size:18px;}

.skills .jq {background:#97BE0D;}
.skills .css {background:#D84F5F;}
.skills .html {background:#88B8E6;}
.skills .php {background:#BEDBE9;}
.skills .sql {background:#EDEBEE;}

/* FORMS */
.form-control{border-radius:1px; padding:8px 12px;}

.form-dark .form-control{margin-bottom:10px; background:#eee; border:1px solid #ccc;}
.form-dark label.checkbox{font-size:12px; font-weight:normal; cursor:pointer;}
.form-dark .form-control:focus{background:#fff; -webkit-box-shadow:none; box-shadow:none; border-color:#bbb; }
.form-dark .form-control:-moz-placeholder{color:#999;}
.form-dark .form-control::-moz-placeholder, .form-light .form-control[placeholder]{color:#999;}
.form-dark .form-control:-ms-input-placeholder{color:#999;}
.form-dark .form-control::-webkit-input-placeholder{color:#999;}

.form-light .form-control{margin-bottom:10px; background:#fcfcfc; border:1px solid #ccc;}
.form-light label.checkbox{font-size:12px; font-weight:normal; cursor:pointer;}
.form-light .form-control:focus{background:#fff; -webkit-box-shadow:none; box-shadow:none; border-color:#bbb; }
.form-light .form-control:-moz-placeholder{color:#999;}
.form-light .form-control::-moz-placeholder, .form-light .form-control[placeholder]{color:#999;}
.form-light .form-control:-ms-input-placeholder{color:#999;}
.form-light .form-control::-webkit-input-placeholder{color:#999;}

.sign-in-wr{margin-top:26px; }
.sign-in-wr .form-icon{display:block; width:80px; height:80px; border-radius:80px; margin:25px auto; text-align:center; line-height:80px; font-size:40px;}
.sign-in-wr .form-header{padding:15px; border-bottom:1px solid #f3f3f3;}
.sign-in-wr .form-header h2{margin:0; padding:0 !important; font-size:18px; font-weight:500;}
.sign-in-wr .form-body{padding:15px; background:#fff;}
.sign-in-wr .form-body p{padding-left:0; margin-bottom:10px;}
.sign-in-wr .form-footer{padding:15px 0; border-top:1px solid #f3f3f3;}

/* SOCIAL ICONS */
.social-media i{width:40px; height:40px; display:inline-block; padding:10px; margin-right:10px; margin-bottom:10px; text-align:center; font-size:18px; background:#ddd; color:#333; border-radius:2px;}
.social-media .facebook{background:#43609c; color:#FFF;}
.social-media .twitter{background:#62addb; color:#FFF;}
.social-media .google{background:#dd4b39; color:#FFF;}
.social-media i:hover{background:none; color:#a1a1a1;}

/* FORM ERRORS */
.form-errors{width:100%; margin-bottom:20px;}
.form-errors .error{display:block; color:#ce1a33; font-weight:500;}
.help-inline{font-size:11px; color:#B8321F; position:relative; top:-8px;}
#info-box{display:none; text-align:center; margin-top:30px; color:#59b540;}
#info-box h2{font-size:16px; font-weight:600;}
#info-box p{}

/* MAP CANVAS */
.map-canvas{margin-top:30px; height:300px;}
.map-canvas .info-window-content{min-width:250px;}
.map-canvas .info-window-content h2{font-size:18px; font-weight:600; margin-bottom:8px;}
.map-canvas .info-window-content h3{font-size:14px; font-weight:500;}
.map-canvas .info-window-content p{font-size:12px; color:#999; text-shadow:none; }

/* TESTIMONIALS */
.testimonial-text{width:70%; margin:20px auto; font-size:14px; line-height:24px;}
.testimonial-author{display:block; text-align:center; color:#a1a1a1; font-style:italic;}

/* CONTACT */
.contact-info{margin-bottom:20px;}
.contact-info h5{margin:0;}

.carousel-testimonials .testimonial-author-info{padding-top:28px;}
.carousel-testimonials .testimonial-author-info a{padding-left:20px;}

/* CLIENTS */
.client{border:1px solid #ddd; padding:0 15px; background:transparent;}
.client img{width:100%; -webkit-filter: grayscale(100%); -moz-filter: grayscale(100%); filter: grayscale(100%);}
.client img:hover{-webkit-filter: grayscale(0%); -moz-filter: grayscale(0%); filter: grayscale(0%);}

/* FOOTER */
footer{padding-top:15px; padding-bottom:20px; min-height:30px; background:#232323;}
footer:before, footer:after {display:table; content:" ";}
footer:after{clear:both;}
footer .col.reset{margin:0;}
footer h4{margin-top:20px; color:#ccc; margin-bottom:20px; text-transform:capitalize; font-size:14px;}
footer .col p{color:#ccc; font-size:13px; margin-bottom:10px;}
footer a{color:#ccc; text-decoration:none;}
footer a:hover{text-decoration:none;}
footer .col ul{margin:0; padding:0; list-style:none;}
footer .col ul li{color:#8F8F8F;}
footer .col ul li span{color:#FFF;}
footer .col address{color:#ddd; padding:8px 0;}
footer .company-info{font-size: 10px; text-align:justify;}
footer .company-info h2{font-size:14px; font-weight:600;}
footer .col.col-social-icons i{width:40px; height:40px; display:inline-block; padding:10px; margin-right:10px; margin-bottom:10px; text-align:center; font-size:18px; background:#fff; color:#333; border-radius:2px;}
footer form{margin-top:20px;}
footer hr{border-top:1px solid #444;}
footer .copyright{color:#FFF;} 

/* FONT AWESOME */
.fontawesome-icon-list{margin-top:22px}
.fontawesome-icon-list .fa-hover a{display:block; color:#222; line-height:32px; height:32px; padding-left:10px; border-radius:0}
.fontawesome-icon-list .fa-hover a .fa{width:32px; font-size:14px; display:inline-block; text-align:right; margin-right:10px}
.fontawesome-icon-list .fa-hover a:hover{background-color:#1d9d74; color:#fff; text-decoration:none}
.fontawesome-icon-list .fa-hover a:hover .fa{font-size:28px;vertical-align:-6px}
.fontawesome-icon-list .fa-hover a:hover .text-muted{color:#bbe2d5}

/* RESPONSIVE MEDIA QUERIES */
@media (min-width: 1200px) {
	.top-header .aux-text{display:inline-block !important; } 
	
	.w-section .aside-feature{text-align:left;}
	.w-section .aside-feature .icon-feature{text-align:left;}	
	.slider{width:100%;}
	    
	.w-section .txt-fly-over{height:350px; top:-90px;}
	.navbar-default .dropdown-menu, .navbar-wp .dropdown-menu{margin-top:0px !important;}
	.navbar-default .dropdown-menu, .navbar-wp .dropdown-menu.dropdown-menu-user{margin-top:13px !important;}
	
	.wrapper.boxed{width:1230px; margin:auto;}  
}

@media (min-width: 992px) and (max-width: 1199px) {
	.top-header .aux-text{display:inline-block !important; }
	
 	.navbar-default .dropdown-menu, .navbar-wp .dropdown-menu{margin-top:0px !important;}
	.navbar-default .dropdown-menu, .navbar-wp .dropdown-menu.dropdown-menu-user{margin-top:13px !important;}
	
	.wrapper.boxed{width:1000px; margin:auto;}
	
	.w-section .txt-fly-over{height:390px; top:-60px;}
}

@media (min-width: 768px) and (max-width: 991px) {
	.top-header .aux-text{display:inline-block !important; }
	
	.w-box, .carousel-work .figure{margin-bottom:15px;}
	.animate-hover-slide img{width:100%;}
	
	.carousel-1 .item img{}
	.carousel-1 .object{width:400px !important;}
	
	.slider{width:100%;}
	
	.w-section .txt-fly-over{height:400px; top:-60px;}
	.client{margin-bottom:20px;}
	
	.work.work-no-space.g2 .mix{width:50%;} 
	.work.work-no-space.g3 .mix{width:50%;} 
	.work.work-no-space.g4 .mix{width:50%;} 
	.work.work-no-space.g5 .mix{width:50%;} 
}

@media (max-width: 767px) {
	header .navbar-brand{margin:14px 0;}
	
	.navbar-wp .navbar-nav > li > a{color:#4c4c4c; padding:10px 20px !important; margin-right:0; }
	.navbar-wp .navbar-nav > li > a:hover,
	.navbar-wp .navbar-nav > li > a:focus {color:#FFF; background-color:#e06d58; border-radius:0 !important;}
	
	.navbar-wp .navbar-nav > .active > a,
	.navbar-wp .navbar-nav > .active > a:hover,
	.navbar-wp .navbar-nav > .active > a:focus {border-radius:0 !important;}
	
	.navbar-wp .dropdown-menu:after{border:0 !important; margin-left:0;}
	.navbar-wp .dropdown-menu:before{border:0 !important; margin-left:0;}
	
	.top-header .top-header-menu ul.menu  > li ul.sub-menu{display:none !important;}
	
	.w-section .aside-feature{text-align:center;}
	.w-section .aside-feature .icon-feature{text-align:center;}	
	
	.sort-list-btn .btn{margin-bottom:10px;}
	
	.w-box,.carousel-work .figure{margin-bottom:15px;}
 	.animate-hover-slide .figure img{width:100%;}
	
	.carousel-1 .carousel-inner{height:420px;}
	.carousel-1 .carousel-inner{overflow:hidden;}
	.carousel-1 .carousel-control i{position:absolute; top:50%; margin-top:-18px; font-size:36px; font-weight:600;}
	.carousel-1 .item{}
	.carousel-1 .item img{}
	.carousel-1 .item-dark{color:#FFF;}
	.carousel-1 p{font-size:16px;}
	.carousel-1 .object{display:none;}
	.carousel-1 .object.fluid{width:100%; left:0; margin:0;}
	.carousel-1 .object iframe{width:100% !important; }
	.carousel-1 .object img{}
	.carousel-1 .description{width:100% !important; top:50px; left:0 !important; margin:0 !important;}
	.carousel-1 .description .title{font-size:32px; margin:0 0 15px 0; padding:8px 20px; background:#FFF; color:#9ab2cc; display:block; text-align:center;}
	.carousel-1 .description .subtitle{font-size:24px; margin:20px 0; padding:0 15px !important; display:block; text-align:center;}
	.carousel-1 .description p{font-size:16px; color:#FFF; margin:0;}
	.carousel-1 .description p.text-box{}
	.carousel-1 .description.fluid-center .features i{width:80px; height:80px; background:#FFF; text-align:center; line-height:80px; font-size:34px; color:#697e93; font-weight:700; border-radius:80px; margin-right:20px;}
	.carousel-1 .list-carousel{padding-left:30px !important;}
	
	.carousel-3 .figure{margin-bottom:20px;}                
		
	.slider{height:auto; max-height:440px; margin:0;}
	
	.cta-wr{text-align:center;}
	.cta-wr .btn{float:none !important;}
	
	.w-section .txt-fly-over{height:400px; position:static; top:0;}
	.client{margin-bottom:20px;}
	
	.work.work-no-space.g2 .mix{width:100%;} 
	.work.work-no-space.g3 .mix{width:100%;} 
	.work.work-no-space.g4 .mix{width:100%;} 
	.work.work-no-space.g5 .mix{width:100%;} 
}
@media only screen and (min-width: 1440px){
	.slider{width:100%;}
}

@media (max-width: 460px) {
	.search-wr .search-sign i{margin-left:0;}
	.global-search-input{font-size:16px; padding:14px 0;}
}