@charset "UTF-8";
/* CSS Document */

body {
	background: #ffffff;
	color:#999;
	font-family:Arial, Helvetica, sans-serif;
}

#container {
	position:absolute;
	top:50%;
	left:50%;
	width:500px;
	height:500px;
	margin-left:-250px; 
	margin-top:-250px;
	text-align:center;
	background-color:#ffffff;
}

a {
	border:none;
	text-decoration:none;
}

